.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20px auto auto 25px;
    grid-gap: 3px;    
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    grid-column: 1 /-1;
    background-color: #5d5c61;
}

.foto {
    grid-column: 1 /2;
    background-color: #379683;

}
img {
    height: 325px;
    border-radius: 50%;
}

.person {
    grid-column: 2 / -1;
    grid-row: auto;
    background-color: #379683;
    padding-left: 10px;
    text-align: center;
 }

    .werk {
        grid-column: 1 / 6;
        grid-row: auto;
        background-color: #7395ae;
        padding-left: 10px;
    }

    .opleiding {
        grid-column: 6 / -1;
        grid-row: auto;
        background-color: #557a95;
        padding-left: 10px;
        }


.footer {
    grid-column: 1 / -1;
    background-color: #b1a296;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: #123c69 !important;
}

p.naam {
    font-size: 20px;
}

span.cursief {
    font-style: italic;
}
span.bold {
    font-weight: bold;
    
}
ul {
    list-style: none;
}
