.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20px auto auto 50px;
    grid-gap: 3px;
    
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    grid-column: 1 /-1;
    background-color: #5aa1cf;
}

.foto {
    grid-column: 1 /2;
    text-align: center;

}

.person {
    grid-column: 2 / -1;
    grid-row: auto;
    background-color: #fbf579;
    padding-left: 10px;
    text-align: center;
}

    .werk {
        grid-column: 1 / 6;
        grid-row: auto;
        background-color: #fa625f;
        padding-left: 10px;
    }

    .opleiding {
        grid-column: 6 / -1;
        grid-row: auto;
        background-color: #5aa1cf;
        padding-left: 10px;
    }


.footer {
    grid-column: 1 / -1;
    background-color: green;
}

h2 {
    text-align: center;
}

p.naam {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

span.cursief {
    font-style: italic;
}
span.bold {
    font-weight: bold;
    
}
ul {
    list-style: none;
}
